.nav-section {
    font-family: sans-serif;
}

.navbar {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-item {
    color: var(--primary-color);    
}

.nav-link:hover {
    color: var(--dark-color);
}
